// Google Font
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

@font-face {
  font-family: 'Biko';
  src: url('./../fonts/biko/Biko.eot');
  src: url('./../fonts/biko/Biko.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/biko/Biko.woff2') format('woff2'),
  url('./../fonts/biko/Biko.woff') format('woff'),
  url('./../fonts/biko/Biko.ttf') format('truetype'),
  url('./../fonts/biko/Biko.svg#Biko') format('svg');
  font-weight: normal;
  font-style: normal;
}