.card {
    border: 0;
    margin-bottom: 30px;
    box-shadow: 0 36px 48px rgba(31, 66, 135, 0.04);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color;
        padding: 30px 0;
        @include respond("desktop") {
            padding: 30px;
        }
        @include custommq($min: 1200px, $max: 1350px) {
            padding: 30px 0;
        }
    }

    &-title {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 500;
    }

    .card-body {
        padding: 30px 0;
        border-radius: 15px;
        @include respond("desktop") {
            padding: 30px;
        }
        @include custommq($min: 1200px, $max: 1350px) {
            padding: 30px 0 !important;
        }
    }
}
