.logo {
    font-family: 'Maven Pro', sans-serif;
    color: $gray-600;
    font-weight: 700;

    &--placeholder {
        z-index: 1;
        font-size: 22px;
        color: $gray-500;
        top: 15px;
        left: 15px;
    }
}

.reverse-text {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
