.scroll-slide-down-enter-active, .scroll-slide-down-leave-active,
.scroll-slide-up-enter-active, .scroll-slide-up-leave-active {
    transition: all .2s ease-in;
}

.scroll-slide-down-enter, .scroll-slide-down-leave-to {
    -o-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
}

.scroll-slide-up-enter, .scroll-slide-up-leave-to {
    -o-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
}
