.slide-down-enter-active, .slide-down-leave-active,
.slide-up-enter-active, .slide-up-leave-active {
    transition: all .2s ease-in;
}

.slide-down-enter, .slide-down-leave-to {
    -o-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
}

.slide-up-enter, .slide-up-leave-to {
    -o-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
}
