.header {
    padding: 0px 0px;
    position: fixed;
    top: 0;
    left: 75px;
    right: 0;
    height: 78px;
    z-index: 999;
    transition: all 0.3s ease-in;
    background: $body-bg;
    border-bottom: 1px solid $gray-300;
    &.landing_page {
        left: 0;
        background: #342C58;
        padding: 10px 0px;
    }
    .navbar-brand {
        margin-right: 30px;
        display: flex;
        align-items: center;
        @include respond('tab-land') {
            margin-right: 30px;
        }
    }
    &.fixed {
        position: fixed;
        background: $primary;
        transition: all 0.3s ease-in;
    }
}

.header_auth {
    .btn {
        margin-left: 10px;
        @include respond('tab-port') {
            padding: 7px;
            min-width: 110px;
        }
        @include respond('tab-port') {
            display: none;
        }
    }
}

.navbar-toggler {
    background: rgba(255,255,255,0.2);
    min-width: auto;
}

.navbar-nav {
    @include respond('tab-port') {
        background: #342C58;
        margin-top: 10px;
        border-radius: 16px;
        padding: 10px 0px;
    }
    .nav-item {
        .nav-link {
            padding: 0 20px;
            color: $white!important;
            font-weight: 500;
            opacity: 0.75;
            @include respond('tab-port') {
                padding: 10px 20px !important;
            }
            @include respond('tab-land') {
                padding: 10px 15px !important;
            }
            &:hover,
            &:focus,
            &.active {
                opacity: 1;
            }
        }
    }
}

.account_money {
    margin-right: 20px;
    ul {
        li {
            display: inline;
            justify-content: space-around;
            &.crypto {
                background: $gray-700;
                padding: 8px 15px 8px 22px;
                color: $white;
                border-radius: 30px 0 0px 30px;
                border: 1px solid $gray-700;
                transition: all 0.3s ease-in-out;
                @include respond('tab-land') {
                    padding: 8px 10px 8px 20px;
                }
                @include custommq($min: 1200px, $max: 1350px) {
                    padding: 8px 10px 8px 20px;
                }
                span {
                    margin-right: 10px;
                    font-weight: 500;
                    @include respond('tab-land') {
                        margin-right: 10px;
                    }
                    @include custommq($min: 1200px, $max: 1350px) {
                        margin-right: 10px;
                    }
                }
            }
            &.usd {
                border: 1px solid $gray-700;
                padding: 8px 20px 8px 19px;
                border-radius: 0px 30px 30px 0px;
                @include respond('tab-land') {
                    padding: 8px 20px 8px 10px;
                }
                @include custommq($min: 1200px, $max: 1350px) {
                    padding: 8px 20px 8px 10px;
                }
                span {
                    font-weight: 500;
                    color: $gray-700;
                }
            }
        }
    }
}

.profile_log {
    cursor: pointer;
    .user {
        display: flex;
        align-items: center;
        .thumb {
            height: 45px;
            width: 45px;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.08);
            display: inline-block;
            background: $gray-700;
            color: $white;
            text-align: center;
            padding: 10px 0;
            i {
                font-size: 20px;
            }
        }
        .name {
            font-size: 18px;
            font-weight: 500;
            color: $body-color;
            @include respond('tab-land') {
                display: none;
            }
            @include custommq($min: 1200px, $max: 1350px) {
                display: none;
            }
        }
        .arrow {
            color: $gray-700;
            i {
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                margin-top: 6px;
                display: inline-block;
            }
            @include respond('tab-land') {
                display: none;
            }
        }
    }
    .dropdown-menu {
        border: 0px;
        padding: 0px;
        margin: 0px;
        top: 70px;
        width: 220px;
        box-shadow: 0 36px 48px rgba($color: #1b1994, $alpha: 0.08);
        border-radius: 5px;
        background-color: $gray-700;
        .dropdown-item {
            padding: 15px 20px;
            border-bottom: 1px solid $gray-600;
            font-size: 16px;
            color: $gray-400;
            font-weight: 500;
            &:last-child{
                border: 0px;
            }
            &.logout {
                color: $danger;
                i {
                    color: $danger;
                }
            }
            i {
                margin-right: 10px;
                font-size: 22px;
                color: $gray-400;
                font-weight: bold;
            }
            &:hover,
            &:focus,
            &.active {
                background-color: transparent;
            }
        }
    }
}
