.sidebar {
    background: #027b5b;
    position  : fixed;
    left      : 0;
    height    : 100%;
    width     : 75px;
}


.menu {
    margin-top: 100px;
    ul {
        li {
            text-align: center;
            a {
                padding: 12px 15px;
                display: inline-block;
                margin-bottom: 5px;
                border-radius: 5px;
                &:hover,&:focus,&.active{
                    background: $primary;
                }
                &.router-link-active{
                    background: $primary;
                    i {
                        color: #fff;
                    }
                }
                i {
                    color: #ffffff;
                    font-size: 24px;
                }
            }
        }
    }
}
