#dashboard__searchbar {
    height: 58px;
    font-size: 21px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#dashboard__search-icon {
    font-size: 22px;
    border: 0;
    color: $gray-500;
    cursor: text;
}
