#sidebar {
    background: $primary;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    z-index: 999;
}

#sidebar__desktop {
    padding-top: 11px;

    ul {
        li {
            text-align: center;

            a {
                padding: 12px 15px;
                display: inline-block;
                margin-bottom: 5px;
                border-radius: 5px;

                &:hover, &:focus, &.active {
                    background: $info;
                }

                &.router-link-active {
                    background: $secondary;
                    color: $primary;

                    i {
                        color: #fff;
                    }
                }

                i {
                    color: #ffffff;
                    font-size: 24px;
                }
            }
        }
    }
}

#sidebar__mobile {
    height: 100%;
    display: flex;
    overflow-x: auto;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 23px;
        color: #ffffff;

        &.create-tip-button {
            font-size: 43px;
            color: #396f6e;

            &.router-link-exact-active {
                color: #ffffff;
            }
        }

        &.router-link-exact-active {
            background-color: $secondary;
        }
    }
}

@include media-breakpoint-up(sm) {
    #sidebar {
        left: 0;
        height: 100%;
        width: 85px;
    }
    #sidebar__desktop {
        margin-top: 89px;
    }
}
