.sidebar {
    background: $primary;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}

.menu {
    ul {
        li {
            text-align: center;

            a {
                padding: 12px 15px;
                display: inline-block;
                margin-bottom: 5px;
                border-radius: 5px;

                &:hover, &:focus, &.active {
                    background: $info;
                }

                &.router-link-active {
                    background: $secondary;

                    i {
                        color: #fff;
                    }
                }

                i {
                    color: #ffffff;
                    font-size: 24px;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .sidebar {
        left: 0;
        height: 100%;
        width: 85px;
    }
    .menu {
        margin-top: 100px;
    }
}
